body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.header h1 {
    margin: 0;
}

.header p {
    margin: 10px 0;
}

.event-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-table th, .event-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.event-table th {
    background-color: #333;
    color: #fff;
}

.event-table img {
    width: 100%;
    border-radius: 8px;
}

.contact-form {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

.contact-form h2 {
    margin: 0 0 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    color: #333;
}

input,
textarea {
    width: 50%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.event-table img {
    width: 10vw; /* Set the width to 10vw */
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    border-radius: 8px;
}

