* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.required {
    color: red;
}

button {
    margin: 0.5vh;
    width: 5vw;
}

.buttons {
    padding-left: 0.5vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: auto;
    height: auto;
    border: 1px dashed black;
    padding: 1vh;
}

.legend {
    text-align: center;
}

.legendDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputField {
    padding: 1vh;
}


label {
    display: inline-block;
    width: auto;
    min-width: 10vw;
    text-align: right;
}

#address {
    display: flex;
}